# dependencies
node_modules/

# build outputs
dist/
build/

# environment files
.env
.env.*

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# coverage
coverage/

# Judge0 config (contains credentials)
infra/docker/judge0.conf

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup